<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="selectCommentCount" resultType="int">
		SELECT COUNT(*) FROM comment_t WHERE BNUM=#{bnum}
	</select>
	<select id="selectCommentList" resultType="CommentDto">
		SELECT * FROM comment_t WHERE BNUM=#{bnum} ORDER BY cwritedate DESC
	</select>
	<insert id="insertComment" parameterType="CommentDto">
		INSERT INTO comment_t(CNUM, BNUM, CWRITER, CCONTENT, CWRITEDATE)
		VALUES((SELECT NVL(MAX(CNUM),0)+1 FROM comment_t), #{bnum},#{cwriter},#{ccontent},default)
	</insert>
	<delete id="deleteComment" parameterType="CommentDto">
		DELETE FROM comment_t WHERE cnum = #{cnum} and cwriter=#{cwriter}
	</delete>
</mapper>