<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="idCheck" parameterType="String" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid}
</select>

<select id="loginCheck" parameterType="MemberDto" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid} and userpw = #{userpw}
</select>

<insert id="join" parameterType="MemberDto">
	INSERT INTO userinfo (no, userid, userpw, username, useremail, userphone)
	VALUES (
		(SELECT NVL(MAX(no),0)+1 FROM USERINFO),#{userid}, #{userpw}, #{username}, #{useremail}, #{userphone})
</insert>

<!-- <select id="search" resultType="MemberDto"> -->
<!-- 	SELECT * FROM userinfo -->
<!-- </select> -->

<!-- <select id="searchName" parameterType="map" resultType="MemberDto"> -->
<!-- 	SELECT * -->
<!-- 	  FROM (SELECT ROWNUM AS N -->
<!-- 	   			 , no -->
<!-- 	   			 , userid -->
<!-- 	   			 , userpw -->
<!-- 	   			 , username -->
<!-- 	   			 , useremail -->
<!-- 	   			 , userphone -->
<!-- 	   			 , mrole -->
<!-- 	   			 , img -->
<!-- 	   		  FROM (SELECT * FROM USERINFO ORDER BY no ASC)) -->
<!-- 	 WHERE N BETWEEN #{start} AND #{end} -->
<!-- 	   AND username like '%' || #{username} || '%' -->
<!-- </select> -->

<!-- <select id="searchName" parameterType="String" resultType="MemberDto"> -->
<!-- 	SELECT * FROM userinfo where username like #{username} -->
<!-- </select> -->

<!-- <select id="selectTotalRowCountName" parameterType="String" resultType="_int"> -->
<!-- 	SELECT COUNT(*) FROM USERINFO WHERE username like '%' || #{username} || '%' -->
<!-- </select> -->

<update id="update" parameterType="MemberDto">
	UPDATE userinfo SET userpw = #{userpw}, username = #{username}, useremail = #{useremail}, 
		userphone = #{userphone}
	WHERE userid = #{userid}
</update>

<update id="updateById" parameterType="MemberDto">
	UPDATE userinfo SET userpw = #{userpw}
	WHERE userid = #{userid}
</update>

<delete id="delete" parameterType="String">
	DELETE FROM userinfo WHERE userid = #{userid}
</delete>

<select id="findUser" parameterType="MemberDto" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid} and username = #{username} and userphone = #{userphone}
</select>

<update id="modifyRole" parameterType="MemberDto">
	UPDATE userinfo SET mrole = #{mrole}
	WHERE userid = #{userid}
</update>

<select id="selectPage" parameterType="map" resultType="MemberDto">
	SELECT *
	  FROM (SELECT ROWNUM AS N
	   			 , userId
	   			 , no
	   			 , userPw
	   			 , userName
	   			 , userEmail
	   			 , userPhone
	   			 , mRole
	   			 , img
	   		  FROM (SELECT * FROM USERINFO ORDER BY no ASC))
	 WHERE N BETWEEN #{start} AND #{end}
		<if test="username != null and username neq ''">
			AND username like '%'||#{username}||'%'
		</if>
</select>

<select id="selectTotalRowCount" resultType="_int">
	SELECT COUNT(*) FROM USERINFO
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="username != null and username neq ''">
			AND username like '%'||#{username}||'%'
		</if>
	</trim>
</select>
</mapper>