<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="idCheck" parameterType="String" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid}
</select>

<select id="loginCheck" parameterType="MemberDto" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid} and userpw = #{userpw}
</select>

<insert id="join" parameterType="MemberDto">
	INSERT INTO userinfo (no, userid, userpw, username, useremail, userphone, img)
	VALUES (
		(SELECT NVL(MAX(no),0)+1 FROM USERINFO),#{userid}, #{userpw}, #{username}, #{useremail}, #{userphone}, #{img})
</insert>

<update id="update" parameterType="MemberDto">
	UPDATE userinfo SET username = #{username}, useremail = #{useremail}, 
		userphone = #{userphone}
		<if test="img != null or img == ''">
		 ,img = #{img}
		</if>
	WHERE userid = #{userid}
</update>

<update id="updateById" parameterType="MemberDto">
	UPDATE userinfo SET userpw = #{userpw}
	WHERE userid = #{userid}
</update>

<delete id="delete" parameterType="String">
	DELETE FROM userinfo WHERE userid = #{userid}
</delete>

<select id="findUser" parameterType="MemberDto" resultType="MemberDto">
	SELECT * FROM userinfo WHERE userid = #{userid} and username = #{username} and userphone = #{userphone}
</select>

<update id="modifyRole" parameterType="MemberDto">
	UPDATE userinfo SET mrole = #{mrole}
	WHERE userid = #{userid}
</update>

<select id="selectPage" parameterType="map" resultType="MemberDto">
	SELECT *
	  FROM (SELECT ROWNUM AS N
	   			 , userId
	   			 , no
	   			 , userPw
	   			 , userName
	   			 , userEmail
	   			 , userPhone
	   			 , mRole
	   			 , img
	   		  FROM (SELECT * FROM USERINFO
	   		  <trim prefix="where" prefixOverrides="AND|OR">
	   		  <if test="username != null and username neq ''">
				AND username like '%'||#{username}||'%'
			  </if>
	   		  </trim>
	   		   ORDER BY no ASC))
	 WHERE N BETWEEN #{start} AND #{end}
		
</select>

<select id="selectTotalRowCount" resultType="_int">
	SELECT COUNT(*) FROM USERINFO
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="username != null and username neq ''">
			AND username like '%'||#{username}||'%'
		</if>
	</trim>
</select>

<select id="selectOneId" resultType="MemberDto">
	SELECT * FROM USERINFO WHERE userid = #{username}
</select>
</mapper>