<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<insert id="write" parameterType="NoticeDto">
	INSERT INTO notice 
	(bnum, BTITLE, USERID, BREADCNT, BWRITEDATE, BCONTENT)
	VALUES(
		 (SELECT NVL(MAX(bnum),0) + 1 FROM NOTICE)
		 ,#{btitle},#{userid},#{breadcnt},default,#{bcontent})
</insert>

<update id="updateReadcnt" parameterType="int">
	UPDATE notice SET BREADCNT = BREADCNT+1 WHERE BNUM=#{bnum}
</update>

<select id="selectBoard" parameterType="int" resultType="NoticeDto">
	SELECT * FROM notice WHERE BNUM=#{bnum}
</select>

<update id="update" parameterType="NoticeDto">
	update notice set btitle=#{btitle}, bcontent=#{bcontent}, bwritedate=default where bnum=#{bnum}
</update>

<delete id="delete" parameterType="int">
	delete from notice where bnum = #{bnum}
</delete>

<select id="searchTitle" parameterType="map" resultType="NoticeDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate,'YYYY-DD-MM HH24:MM') bwritedate,bcontent,cmtcnt
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , cmtcnt
	   		  FROM (SELECT * FROM NOTICE 
	   		  		 WHERE btitle like '%' || #{keyword} || '%' ORDER BY bnum DESC)) 
	 WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="searchContent" parameterType="map" resultType="NoticeDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate,'YYYY-DD-MM HH24:MM') bwritedate,bcontent,cmtcnt
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , cmtcnt
	   		  FROM (SELECT * FROM NOTICE 
	   		  		 WHERE bcontent like '%' || #{keyword} || '%' ORDER BY bnum DESC))
	WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="searchWriter" parameterType="map" resultType="NoticeDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate,'YYYY-DD-MM HH24:MM') bwritedate,bcontent,cmtcnt
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , cmtcnt
	   		  FROM (SELECT * FROM NOTICE 
	   		  		 WHERE userid like '%' || #{keyword} || '%' ORDER BY bnum DESC))
	WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="selectPage" parameterType="map" resultType="NoticeDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate,'YYYY-DD-MM HH24:MM') bwritedate,bcontent,cmtcnt
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , cmtcnt
	   		  FROM (SELECT * FROM NOTICE ORDER BY bnum DESC))
	 WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="selectTotalRowCount" resultType="_int">
	SELECT COUNT(*) FROM NOTICE
</select>

<select id="selectTotalRowCountT" resultType="_int">
	SELECT COUNT(*) FROM NOTICE
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND btitle like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

<select id="selectTotalRowCountU" resultType="_int">
	SELECT COUNT(*) FROM NOTICE
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND userid like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

<select id="selectTotalRowCountC" resultType="_int">
	SELECT COUNT(*) FROM NOTICE
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND bcontent like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

</mapper>