<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

<insert id="write" parameterType="QnaDto"> <!-- 질문 작성 -->
	INSERT INTO qna 
	(BNUM, BTITLE, USERID, BREADCNT, BWRITEDATE, BCONTENT, BLEVEL, QUESTIONNUM, isFAQ)
	VALUES((SELECT NVL(MAX(BNUM), 0) + 1 FROM QNA)
		 ,#{btitle},#{userid},default,default,#{bcontent},
		 <choose>
		 	<when test="bnum == null or bnum == ''">
		 		(SELECT NVL(MAX(BNUM), 0) + 1 FROM QNA),
		 		default,
		 		default
		 	</when>
		 	<otherwise>
		 		#{bnum},
			 	(SELECT NVL(MAX(QUESTIONNUM), 0) + 1 FROM QNA),
		 		(SELECT isFAQ FROM QNA WHERE bnum = #{bnum})
		 	</otherwise>
		 </choose>
		 )
</insert>

<update id="updateReadcnt" parameterType="int"> <!-- 조회수 증가 -->
	UPDATE qna SET BREADCNT = BREADCNT+1 WHERE BNUM=#{bnum}
</update>

<select id="getBoard" parameterType="_int" resultType="QnaDto"> <!-- 질문 상세 -->
	SELECT * FROM qna WHERE BNUM=#{bnum}
</select>

<update id="update" parameterType="QnaDto"><!-- 질문 수정 -->
	update qna set btitle=#{btitle}, bcontent=#{bcontent}, bwritedate=default where bnum=#{bnum}
</update>

<delete id="delete" parameterType="int"> <!--  질문 삭제 -->
	delete from qna where bnum = #{bnum}
</delete>

<!-- 질문 검색 -->
<select id="searchTitle" parameterType="map" resultType="QnaDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate, 'YYYY-MM-DD HH24:MI') bwritedate, bcontent, blevel, questionnum, isFAQ
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , blevel
	   			 , questionnum
	   			 , isFAQ
	   		  FROM (SELECT * FROM QNA 
	   		  		 WHERE btitle like '%' || #{keyword} || '%' ORDER BY blevel DESC, questionnum ASC))
	  WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="searchContent" parameterType="map" resultType="QnaDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate, 'YYYY-MM-DD HH24:MI') bwritedate, bcontent, blevel, questionnum, isFAQ
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , blevel
	   			 , questionnum
	   			 , isFAQ
	   		  FROM (SELECT * FROM QNA 
	   		  		 WHERE bcontent like '%' || #{keyword} || '%' ORDER BY blevel DESC, questionnum ASC))
	  WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="searchWriter" parameterType="map" resultType="QnaDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate, 'YYYY-MM-DD HH24:MI') bwritedate, bcontent, blevel, questionnum, isFAQ
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , blevel
	   			 , questionnum
	   			 , isFAQ
	   		  FROM (SELECT * FROM QNA 
	   		  		 WHERE userid like '%' || #{keyword} || '%' ORDER BY blevel DESC, questionnum ASC))
	  WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="searchFAQ" parameterType="map" resultType="QnaDto"> 
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate, 'YYYY-MM-DD HH24:MI') bwritedate, bcontent, blevel, questionnum, isFAQ
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , blevel
	   			 , questionnum
	   			 , isFAQ
	   		  FROM (SELECT * FROM QNA 
	   		  		 WHERE isFAQ = 'T' ORDER BY blevel DESC, questionnum ASC))
	  WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="selectPage" parameterType="map" resultType="QnaDto">
	SELECT bnum, btitle, userid, breadcnt, TO_CHAR(bwritedate,'YYYY-DD-MM HH24:MM') bwritedate, bcontent, blevel, questionnum,isFAQ
	  FROM (SELECT ROWNUM AS N
	   			 , bnum
	   			 , btitle
	   			 , userid
	   			 , breadcnt
	   			 , bwritedate
	   			 , bcontent
	   			 , blevel
	   			 , questionnum
	   			 , isFAQ
	   		  FROM (SELECT * FROM QNA WHERE isFAQ = 'F' ORDER BY blevel DESC, questionnum ASC))
	 WHERE N BETWEEN #{start} AND #{end}
</select>

<select id="selectTotalRowCount" resultType="_int">
	SELECT COUNT(*) FROM QNA WHERE isFAQ = 'F'
</select>

<select id="selectTotalRowCountT" resultType="_int">
	SELECT COUNT(*) FROM QNA
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND btitle like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

<select id="selectTotalRowCountU" resultType="_int">
	SELECT COUNT(*) FROM QNA
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND userid like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

<select id="selectTotalRowCountC" resultType="_int">
	SELECT COUNT(*) FROM QNA
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword neq ''">
			AND bcontent like '%'||#{keyword}||'%'
		</if>
	</trim>
</select>

<select id="selectTotalRowCountF" resultType="_int">
	SELECT COUNT(*) FROM QNA WHERE isFAQ = 'T'
</select>

<select id="getFAQList" resultType="QnaDto"> 
	SELECT * FROM qna WHERE isFAQ ='T'
</select>
</mapper>