* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333;
}
img {
  border: 0;
}
ul,
li {
  list-style: none;
}
a:link {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}
a:visited {
  color: #333;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  transition: 0.3s ease-out;
}

#con01_slide {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/h_slide01.jpg);
  background-size: cover;
}

.slider01_txt {
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.slider01_txt h1 {
  color: #fff;
  font-size: 65px;
}

.slider01_txt p {
  padding-top: 1.5%;
  padding-bottom: 8%;
  color: #fff;
  font-size: 20px;
  line-height: 1.4em;
}

.mouse_icon {
  width: 25px;
  height: auto;
  margin: 0 auto;
}

#con02_intro {
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

#con02_intro .con02_in {
  margin: 0 auto;
  width: 1290px;
  height: 100%;
}

#con02_intro .con02_in .intro_ttl {
  margin: 0 auto;
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
#con02_intro .con02_in .intro_ttl h3 {
  color: #000;
  font-size: 40px;
}
#con02_intro .con02_in .intro_ttl p {
  margin-top: 10px;
  color: #666;
  font-size: 16px;
  line-height: 1.3em;
}
#con02_intro .con02_in .intro_box {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  height: 350px;
  text-align: center;
}
#con02_intro .con02_in .intro_box > li {
  float: left;
  width: 400px;
  height: 100%;
  margin-right: 12px;
}
#con02_intro .con02_in .intro_box > li:last-child {
  float: left;
  margin-right: 0px;
}
#con02_intro .con02_in .intro_box h4 {
  margin-top: 150px;
  color: #fff;
  font-size: 30px;
}
#con02_intro .con02_in .intro_box p {
  margin-top: 5px;
  color: #fff;
  font-size: 20px;
}

#con02_intro .con02_in .intro_box .intro_box00 {
  background: url(../img/con02_box00.gif) no-repeat;
  background-size: cover;
}
#con02_intro .con02_in .intro_box .intro_box00:hover {
  background: url(../img/con02_box00_hover_01.jpg) no-repeat;
  transition: ease-out 0.5s;
}

#con02_intro .con02_in .intro_box .intro_box00 #box_hover00{
	display: none;
}

#con02_intro .con02_in .intro_box .intro_box00:hover #box_hover00{
  display: block;
  transition: ease-in 0.5s;
}

#con02_intro .con02_in .intro_box .intro_box01 {
  background: url(../img/con02_box01.gif) no-repeat;
  background-size: cover;
}
#con02_intro .con02_in .intro_box .intro_box01:hover {
  background: url(../img/con02_box00_hover_02.jpg) no-repeat;
  
}

#con02_intro .con02_in .intro_box .intro_box01 #box_hover01{
	display: none;
}

#con02_intro .con02_in .intro_box .intro_box01:hover #box_hover01{
  display: block;
  transition: ease-in 0.5s;
}
#con02_intro .con02_in .intro_box .intro_box02 {
  background: url(../img/con02_box02.gif) no-repeat;
  background-size: cover;
}
#con02_intro .con02_in .intro_box .intro_box02:hover {
  background: url(../img/con02_box00_hover_03.jpg) no-repeat;
  transition: ease-out 0.5s;
}
#con02_intro .con02_in .intro_box .intro_box02 #box_hover02{
	display: none;
}

#con02_intro .con02_in .intro_box .intro_box02:hover #box_hover02{
  display: block;
  transition: ease-in 0.5s;
}

#con03_end {
  position: relative 0 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

#con03_end .con03_left {
  float: left;
  width: 50%;
  height: 100%;
}

#con03_end .con03_left .img {
  float: left;
  width: 630px;
  height: 420px;
  margin-top: 17%;
  margin-left: 20%;
}

#con03_end .con03_left .img img {
  width: 100%;
  height: 100%;
}

#con03_end .con03_right {
  position: relative 0 0;
}

#con03_end .con03_right .ttl {
  position: relative;
  top: 200px;
  left: 100px;
}

#con03_end .con03_right .ttl .btn {
  margin-top: 30px;
  padding: 15px 138px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4c9df8;
  border: none;
}

#con03_end .con03_right .ttl h2 {
  font-size: 40px;
}

#con03_end .con03_right .ttl p {
  padding-top: 30px;
  font-size: 20px;
}

#menu {
  position: fixed;
  top: 420px;
  right: 35px;
  width: 20px;
  height: 130px;
}
#menu_circle {
  float: left;
  width: 20px;
  height: 100%;
  z-index: 9999;
}
#menu_circle li {
  width: 10px;
  height: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
#menu_circle li:hover,
.active {
  background: #ccc;
  transition: 0.2s ease-out;
}

