<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- camelcase setting   -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAlias setting  -->
	<typeAliases>
		<typeAlias type="kh.com.nr.model.dto.ChatDto" alias="ChatDto"/>
		<typeAlias type="kh.com.nr.model.dto.RoomDto" alias="RoomDto"/>
		<typeAlias type="kh.com.nr.model.dto.HospitalDto" alias="HospitalDto"/>
		<typeAlias type="kh.com.nr.model.dto.SidoGugunCodeDto" alias="SidoGugunCodeDto"/>
		<typeAlias type="kh.com.nr.model.dto.HouseInfoDto" alias="HouseInfoDto"/>
		<typeAlias type="kh.com.nr.model.dto.HouseDealDto" alias="HouseDealDto"/>
		<typeAlias type="kh.com.nr.model.dto.InterestDto" alias="InterestDto"/>
		<typeAlias type="kh.com.nr.model.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="kh.com.nr.model.dto.NoticeDto" alias="NoticeDto"/>
		<typeAlias type="kh.com.nr.model.dto.CommentDto" alias="CommentDto"/>
		<typeAlias type="kh.com.nr.model.dto.QnaDto" alias="QnaDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/hospital-mapper.xml"/>
		<mapper resource="mappers/housemap-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
	</mappers>
</configuration>
