<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- camelcase setting   -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAlias setting  -->
	<typeAliases>
		<typeAlias type="kh.com.nr.model.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="kh.com.nr.model.dto.InterestDto" alias="InterestDto"/>
		<typeAlias type="kh.com.nr.model.dto.HouseDealDto" alias="HouseDealDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/interest-mapper.xml"/>
	</mappers>
</configuration>
